*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
body{
    width: 100%;
    height: 100%;
    background-color: #FBFBFB;
}
header{
    background-color: #F2F5FB;
    padding-top: 0.8rem;
}
.top{
    width: 100%;
    height: 0.20rem;
    padding: 0 0.25rem;
    /*margin-top: 0.8rem;*/
    box-sizing: border-box;
    position: relative;
}
.top .fanhui{
    float: left;
    width: 0.22rem;
}
.top .fukuan{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 1.46rem;
}
.first{
    width: 100%;
    height: 0.8rem;
    margin-top: 0.23rem;
    padding: 0 0.25rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first .left{
    width: 2.82rem;
    height: 0.22rem;
}
.first .right{
    width: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.first .right .rmb{
    width: 0.55rem;
    height: 0.19rem;
    margin-bottom: 0.07rem;
}
.first .right span{
    display: block;
    font-size: 0.34rem;
    font-weight: 800;
    color: #428EFF;

}
.zhanghao{
    width: 100%;
    padding: 0.26rem 0.25rem;
    margin: 0.22rem auto 0;
    display: flex;
    align-items: center;
}
.zhanghao1{
    margin-top: 0;
}
.zhanghao .one{
    width: 3.15rem;
    height: 0.23rem;
    margin-right: 0.15rem;
}
.weixin{
    width: 6.84rem;
    margin: auto;
}
.bottom{
    width: 1.43rem;
    margin-left: 0.4rem;
    margin-top: 0.3rem;
}

.box{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.9);
}
.box .box1{
    width: 100%;
    height: 6.15rem;
    position: fixed;
    bottom: 0;
    left: 0;
}
.off{
    position: absolute;
    right: 0.13rem;
    top: 0.14rem;
    width: 0.6rem;
}
.son1{
    width: 7.5rem;
    margin: 0.48rem auto 0;
}
.son2{
    width: 3.38rem;
    margin: 0.25rem auto;
}
.son3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 0.25rem;
}
.son3 .sons1{
    width: 0.6rem;
    margin-right: 0.15rem;
    margin-bottom: 0.1rem;
}
.son3 span{
    display: block;
    font-size: 0.4rem;
    font-weight: 800;
    color: #428EFF;
}
.son4{
    width: 7.5rem;
    margin: 0 auto;
}
.son5{
    width: 4.25rem;
    margin: 0.45rem auto 0;
}